<ion-modal-view class="modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Terms of Service</h1>
		<a class="button button-clear" ng-click="terms_of_service_modal.hide()"><span class="icon ion-close"></span></a>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="row">
			<div class="col">
				<div class="terms-of-service">
					<h4>Performance</h4>
					<p>- We Cash is the application for facilitating the currency exchange worldwide. Wherever and Whenever</p>
					<p>- We Cash is suitable for tourist who need directly exchange not using broker. More convenience, Faster anywhere in
						the world</p>
					<p>- We Cash is established by non-profit organizer from gain on exchange rate and no any fee to be charged Focus to the
						Goal
					</p>
					<p>- Our goal is to create the currency exchange application for all tourist to be highly worth and save the most of time.
						Easy to use wherever and whenever. We cash is ready to develop application for your highest satisfaction and accept
						any comment from you. Please comment and send back to us at……………….. Then, we will bring your comment to develop our
						application to be the best application for currency exchange.
					</p>
					<h4>Privacy Policy</h4>
					<p>- We Cash understand that your personal information is the most important and we respect your privacy. In order to reaching
						We Cash’s goal only, we will inform you for your understanding regarding the obtainability, usage or disclosure of
						all information, which these must be consented by you.
					</p>
					<h4>Consent and Responsibility</h4>
					<p>- We Cash is responsible for continuously develop application to be more convenient and efficient.
					</p>
					<p>- We Cash App users can apply using this application by their consent and responsible for any risk or damage that may
						happen by yourselves. We, the application founder, hold harmless from any responsibility for damage or other liability
						arising from these transaction.</p>
					<h4>คุณลักษณะ</h4>
					<p>-We Cash เป็น App ที่อำนวยความสะดวกในการแลกเปลี่ยนเงินทุกสกุล ทั่วโลก ทุกที่ทุกเวลา</p>
					<p>-We Cash เหมาะสำหรับนักเดินทาง นักท่องเที่ยวที่ต้องการแลกเงินกันเอง สะดวก รวดเร็ว เกิดขึ้นได้ทุกที่ทุกเวลา โดยไม่ผ่านคนกลาง</p>
					<p>-We Cash ผู้ก่อตั้งสร้างขึ้นมาโดยไม่ได้แสวงหากำไรจากอัตราแลกเปลี่ยนและไม่มีค่าธรรมเนียมใดๆ ทุ่มเทเพื่อบรรลุเป้าหมาย
					</p>
					<p>-เป้าหมายของเราคือ สร้าง App เพื่อใช้ในการแลกเปลี่ยนเงิน สำหรับนักเดินทาง นักท่องเที่ยว เพื่อให้เกิดการคุ้มค่าและประหยัดเวลามากที่สุด
						และสะสวกใช้ได้ทุกที่ทุกเวลา We Cash พร้อมพัฒนา App เพื่อให้คุณได้มีความพึ่งพอใจสูงสุด และพร้อมรับฟังความคิดเห็นจากคุณ
						โปรดแสดงความคิดเห็นส่งมาหาเราได้ที่ ………………… และเราจะนำความคิดเห็นของคุณมาพัฒนา App ให้เป็น App แลกเปลี่ยนเงินที่ดีที่สุด</p>
					<h4>นโยบายความเป็นส่วนตัว</h4>
					<p>-We Cash เข้าใจดีว่าข้อมูลของท่านเป็นสิ่งสำคัญยิ่งและเคารพสิทธิความเป็นส่วนตัวของท่าน โดยเราจะแจ้งให้ท่านทราบและต้องได้รับความยินยอมจากท่านก่อนที่จะเก็บข้อมูลและ/หรือใช้ข้อมูลและ/หรือเปิดเผยข้อมูลเพื่อบรรลุเป้าหมายของ
						We Cash เท่านั้น</p>
					<h4>เรื่องความสมัครใจและความรับผิดชอบ</h4>
					<p>-We Cash รับผิดชอบที่จะพัฒนา App ให้ใช้ง่ายและมีประสิทธิภาพมากขึ้นเรื่อยๆ</p>
					<p>-ผู้ใช้งาน App We Cash เข้ามาสมัครใช้ App ด้วยความสมัครใจและรับผิดชอบต่อความเสี่ยงและความเสียหายที่อาจจะเกิดขึ้นด้วยตัวเองเท่านั้นโดยจะไม่มาเรียกร้องความเสียหายกับผู้ก่อตั้ง
						App ไม่ว่ากรณีใดๆ</p>
				</div>
	</ion-content>
</ion-modal-view>