<ion-view ng-class="{'own-profile': myProfile}" class="profile-view" cache-view="false" view-title="{{'Profile' | translate}}">
  <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll">
    <div class="row profile-data">
      <div class="col">
        <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="http:{{loggedUser.profileImageURL}}" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="user-name">{{loggedUser.displayName}}</h2>
                <!--<p class="user-resume">
                  <b>{{user.followers}}</b> Followers &nbsp;&nbsp;<b>{{user.following}}</b> Following
                </p>-->
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <p class="user-resume">
                  {{user.about}}
                </p>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row user-interactions">
      <div class="col">
        <div class="row split-actions" ng-if="!myProfile">
          <div class="col">
            <button class="button button-block highlighted">
              Following
            </button>
          </div>
          <div class="col">
            <button class="button button-block">
              Message
            </button>
          </div>
        </div>
        <div class="list">
          <a href="tel:*123#">
            <label class="item item-input item-stacked-label item-icon-right">
    <label>(650)555-5555</label>
            <p class="input-profile">{{'Mobile' | translate}}</p>
            <i class="icon ion-ios-telephone"></i>
            </label>
          </a>

          <a href="tel:*123#">
            <label class="item item-input item-stacked-label item-icon-right">
    <label>(650)555-5555</label>
            <p class="input-profile">{{'Home' | translate}}</p>
            <i class="icon ion-ios-telephone"></i>
            </label>
          </a>
        </div>
        <div class="row split-actions" ng-if="myProfile">
          <div class="col">
            <button class="button button-block icon-left ion-gear-a settings-button" ui-sref="app.settings">
               {{'Settings' | translate}}
            </button>
          </div>
        </div>
        <div class="row split-actions">
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ui-sref="app.mepost"> <b>{{user.followers}}</b> {{'Posts' | translate}}</a>
            </p>
          </div>
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: ('app.profile.likes' | includedByState)}" nav-transition="none" ng-click="getUserBooking(user._id)"
                role="tab"><b>{{user.following}}</b> {{'Booking' | translate}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <ion-nav-view class="profile-sub-views" name="profileContent"></ion-nav-view>
  </ion-content>
</ion-view>