
<ion-view view-title="{{'Settings' | translate}}" class="settings-view">
  <ion-content>
    <div class="list">
      <div class="item item-divider title">
        {{'Account' | translate}}
      </div>
      <a class="item item-icon-left settings-option">
        <i class="icon ion-ios-cart-outline"></i>
        {{'Credits & Referral' | translate}}
      </a>
      <a class="item item-icon-left settings-option">
        <i class="icon ion-social-usd-outline"></i>
        {{'Payment' | translate}}
      </a>
      <div class="item item-divider title">
        {{'More' | translate}}
      </div>
      <a class="item item-icon-left settings-option" ng-click="showTerms()">
        <i class="icon ion-ios-information-outline"></i>
        {{'Terms of Service' | translate}}
      </a>
      <a class="item item-icon-left settings-option" ng-click="showPrivacyPolicy()">
        <i class="icon ion-ios-locked-outline"></i>
        {{'Privacy Policy' | translate}}
      </a>
      <a class="item item-icon-left settings-option">
        <i class="icon ion-ios-help-outline"></i>
        {{'Help' | translate}}
      </a>
      <a class="item item-icon-left settings-option" ng-click="logOut()">
        <i class="icon ion-ios-close-outline"></i>
        {{'Sign Out' | translate}}
      </a>
    </div>
  </ion-content>
</ion-view>
