<ion-view class="shop-home-view" cache-view="false" view-title="Detail">
    <ion-content class="bg-detail">
        <div class="text-center">
             <div class="map-detail" id="map" data-tap-disabled="true"></div>
            <h4>{{exchange.user.displayName}}</h4>
        </div>
        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-cash"></i> From
                <span class="item-note">
                {{exchange.currency_from}}
                </span>
            </a>
            <a class="item item-icon-left">
                <!-- <i class="icon ion-cash"></i> -->
                <span class="item-note">
                {{exchange.amount_from  | number:2}}
                </span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-cash"></i> To
                <span class="item-note">
                {{exchange.currency_to}}
                </span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-calculator"></i> Amount
                <span class="item-note">
                {{exchange.amount_to | number:2}}
                </span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-location"></i> Location
                <!-- <p>{{exchange.location.name}}</p> -->
                <span class="item-note location-detail">
                    {{exchange.location.address}}
                </span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-calendar"></i> Schedule
                <span class="item-note">
                {{exchange.created | date:'dd/MM/yyyy'}}
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
