<ion-view class="shop-home-view" cache-view="false" view-title="Detail">
    <ion-content class="bg-detail">
        <div class="text-center">
            <div class="map-detail" id="mapDetail" data-tap-disabled="true"></div>
            <div class="user-image-outer">
                <img class="user-image profile-image-detail" ng-src="{{exchange.user.profileImageURL}}">
            </div>
            <h4 class="color-detail">{{exchange.user.displayName}}</h4>
        </div>
        <div class="list">
            <p class="item item-icon-left">
                <i class="icon"><span class="currency-flag currency-flag-{{exchange.currency_from | lowercase}}"></span></i> &nbsp; From &nbsp;{{exchange.currency_from}}
                <span class="item-note">
                {{getSymbolByCode(exchange.currency_from)}} {{exchange.amount_from  | number:2}}
                </span>
            </p>
            <p class="item item-icon-left">
                <i class="icon"><span class="currency-flag currency-flag-{{exchange.currency_to | lowercase}}"></span></i> &nbsp; To &nbsp;{{exchange.currency_to}}
                <span class="item-note">
                {{getSymbolByCode(exchange.currency_to)}} {{exchange.amount_to  | number:2}}
                </span>
            </p>
            <p class="item item-icon-left">
                <i class="icon ion-location color-detail"></i> &nbsp;  Location
                <!-- <p>{{exchange.location.name}}</p> -->
                <span class="item-note location-detail">
                    {{exchange.location.address}}
                </span>
            </p>
            <p class="item item-icon-left">
                <i class="icon ion-calendar color-detail"></i> &nbsp;  Schedule
                <span class="item-note">
                {{exchange.created | date:'dd/MM/yyyy'}}
                </span>
            </p>
        </div>
    </ion-content>
    <div class="bar bar-footer footer-detail text-center">
        <div class="row">
            <div class="col col-bottom">
                <p class="button button-icon icon ion-android-call call-detail" ng-click="phoneCall()"></p>
            </div>
            <div class="col col-bottom" >
                <p class="button button-icon icon ion-chatbubbles chat-detail" ng-click="gotoChat(exchange.user)"></p>
            </div>
            <div class="col col-bottom">
                <p class="button button-icon icon ion-map call-detail" ng-click="openGMap(exchange)"></p>
            </div>
        </div>
    </div>
</ion-view>
