<ion-modal-view>
  <ion-header-bar class="bar bar-header">
    <h1 class="title">Add</h1>
    <a class="button button-clear" ng-click="closeList()"><span class="icon ion-close"></span></a>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
    <span class="input-label" >From</span>
    <input type="text" ng-model="dataExchange.currency_from" ionic-autocomplete="{items: currencys, onSelect: onFromSelected, onDataInvalid: onFromInvalid}" ng-change="chkCurrency()"/>
 </label>

      <label class="item item-input">
    <span class="input-label"></span>
    <input type="number" ng-model="dataExchange.amount_from" ng-change="getamount()">
  </label>


      <label class="item item-input">
    <span class="input-label" >To</span>
    <input type="text" ng-model="dataExchange.currency_to1" ionic-autocomplete="{items: exchangeto, onSelect: onToSelected, onDataInvalid: onToInvalid}" ng-change="chkCurrencyTo()"/>
 </label>
      <!--<label class="item item-input item-select">
    <div class="input-label" >
      To
    </div>
    <select ng-model="dataExchange.currency_to1" ng-options="ex as ex.currency for ex in exchangeto" ng-change="getamount(dataExchange.currency_to1)"></select>
  </label>-->

      <label class="item item-input">
    <span class="input-label">Amount</span>
    <!-- <input type="number"  ng-model="dataExchange.amount_to"> -->
    <label>{{dataExchange.amount_to | number : 2}}</label>
      </label>
      <ion-google-place placeholder="Your address" ng-model="place" required name="address" location-changed="locationChanged"/>


      <label class="item item-input">
    <span class="input-label">Schedule</span>
    <input type="date"  ng-model="dataExchange.schedule">
  </label>
    </div>
  </ion-content>

  <div class="bar bar-footer footer-bottom">
    <div class="row menu-bottom-options">
      <div class="col col-bottom">
        <button class="button button-full button-success button-text" ng-disabled="!dataExchange.currency_from || !dataExchange.amount_from || !dataExchange.currency_to1 || !dataExchange.schedule" ng-click="post()">Submit</button>
      </div>
      <div class="col col-bottom">
        <button class="button button-full button-danger button-text" ng-click="closeList()">Cancel</button>
      </div>
    </div>
</ion-modal-view>